# Include compiled jar for nodo
!nodo/target/
nodo/target/*
!nodo/target/*-1.0.jar

# Include compiled jar for celula_servidor
!celula_servidor/target/
celula_servidor/target/*
!celula_servidor/target/*-1.0.jar

# Include compiled jar for celula_solicitante
!celula_solicitante/target/
celula_solicitante/target/*
!celula_solicitante/target/*-1.0.jar
