.settings
.classpath
.project

reporte/target

# Include compiled jar for nodo
!nodo/target/
nodo/target/*

# Include compiled jar for celula_servidor
!celula_servidor/target/
celula_servidor/target/*

# Include compiled jar for celula_solicitante
!celula_solicitante/target/
celula_solicitante/target/*

!core/target/
core/target/*

# !celula_servidor/target/*.jar
# !nodo/target/*-1.0.jar
# !core/target/*.jar
# !celula_solicitante/target/*.jar
