layout {
    pane split_direction="horizontal" {
        pane command="just" {
            args "req" "3333"
        }
        pane command="just" {
            args "solver" "3334"
        }
    }
}
