layout {
    // pane split_direction="vertical" {
        // pane split_direction="horizontal" {
    pane command="just" {
        args "nodo"
    }
    pane command="just" {
        args "nodo"
    }
        // }
        // pane split_direction="horizontal" {
    pane command="just" {
        args "nodo"
    }
    pane command="just" {
        args "nodo"
    }
        // }
    // }
}
